@tailwind base;
@tailwind components;
@tailwind utilities;


/* .main-container {
    max-width: 380px;
    margin: auto;
} */

/* @media (max-width: 1080) {
    .main-container{
        max-width: 1000;
        border: 3px solid red;
    }
} */

.category{
    margin-block: 18px;
    padding: 4px;
    display: flex;
    gap: 16px;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 0.05);
}

.svg{
    color: #ef4444;
}

@media (max-width: 1024px) {
    #menu {
        position: absolute;
    }
}
@media (max-width: 565px) {
    #bars {
        position: absolute;
        top: -70%;
        right: 30px;
    }
}
